{% extends 'base/base.html' %}
{% block page_content %}


    <div class="edit-delete edit-photo">
        <h2>Delete quote</h2>

        <form method="post" action="{% url 'delete quote' quote.pk %}">
            {{ form.as_p }}

            <button class="delete-btn" type="submit">Delete</button>
            {% csrf_token %}

            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
        </form>

    </div>

{% endblock %}