{% extends 'base/base.html' %}
{% block page_content %}


    <!-- Start Edit Pet Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit Beloved Character</h2>
        <!-- Start Edit Pet From -->
        <form method="post" action="{% url 'edit beloved character' beloved_character.pk %}">
            {{ form }}
            <!-- Edit Pet Button -->
            <button class="edit-btn" type="submit">Edit</button>
            {% csrf_token %}
        </form>
        <!-- End Edit Pet Form -->

    </div>
    <!-- End Edit Pet Section -->

{% endblock %}