{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <!-- 404 page -->
    <div class="not-found-img">
        <img src="{% static 'images/No_More_404s.gif' %}" alt="404 not found gif">
    </div>

    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>

        <h3>Error 404 - page not found.</h3>
        <!-- Link to Home Page -->
        <a href="#">
            <button>Return to BookLoversApp</button>
        </a>
    </div>
    <!-- End 404 page -->
{% endblock %}
