{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="not-found-img">
        <img src="{% static 'images/error.gif' %}" alt="404 not found gif">
    </div>

    <div class="not-found">
        <h1>
            Uh oh,<br> something broke.
        </h1>

{#        <h3>Error 400 - bad request.</h3>#}
        <!-- Link to Home Page -->
        <a href="{% url 'show index' %}">
            <button>Return to BookLoversApp</button>
        </a>
    </div>

{% endblock %}
